<nav class="tf-navbar">
    <section class="icon">
        <i class="fa fa-external-link"></i>
    </section>
    <section class="title">
        <h4> تبلیغ </h4>
    </section>
    <section class="icon button" tf-go="/main">
        <i class="fa fa-home"></i>
    </section>
    <section class="icon button" tf-go="back">
        <i class="fa fa-arrow-left"></i>
    </section>
</nav>
<form class="tf-container vertical-padding" ng-submit="submit()">
    <div class="container-fluid row col-md-8 col-md-offset-2">
        <div class="row">
            <div class="form-group col-xs-12">
                <label class="control-label"> عنوان </label>
                <input type="text" class="form-control" ng-model="inputs.title" placeholder="عنوان" required/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12">
                <label class="control-label"> لینک </label>
                <input type="text" class="form-control" ng-model="inputs.url" placeholder="لینک مقصد. مثلا: https://google.com" required/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12">
                <label class="control-label"> </label>
                <button class="btn btn-primary btn-lg btn-block" type="submit">ثبت</button>
            </div>
        </div>
    </div>
</form>