<nav class="tf-navbar">
    <section class="icon">
        <i class="fa fa-cog"></i>
    </section>
    <section class="title">
        <h4> خدمات </h4>
    </section>
    <section class="icon button" tf-go="/main">
        <i class="fa fa-home"></i>
    </section>
    <section class="icon button" tf-go="back">
        <i class="fa fa-arrow-left"></i>
    </section>
</nav>
<abzar-tabs ng-if="filters" active="5"></abzar-tabs>
<div class="tf-container">
    <ul class="list-group bastan-list-group block pointer col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3" ng-if="items.length > 0">
        <li class="list-group-item" ng-repeat="item in items" ng-click="bottomSheet(item)">
            <i class="fa fa-cog"></i> <b> {{item.title}} </b>
            <p> {{item.body}}</p>
        </li>
    </ul>
    <p class="vertical-padding horizontal-padding" ng-if="items.length == 0"> هنوز هیچ آیتمی ثبت نشده‌است. </p>
    <tf-floating-btn tf-go="/insert/services" ng-if="me !==false && me.type==1">
        <i class="fa fa-plus"></i>
    </tf-floating-btn>
</div>
<tf-bottom-sheet open="_bottomSheet" label="{{hovered.title}}">
    <ul class="list-group block">
        <li class="list-group-item" tf-go="update/services/{{hovered.id}}" ng-if="me !==false && me.type==1">
            <i class="fa fa-edit"></i> ویرایش
        </li>
        <li class="list-group-item" ng-click="deleteItem(hovered.id)" ng-if="me !==false && me.type==1">
            <i class="fa fa-trash"></i> حذف
        </li>
        <li class="list-group-item" tf-go="/insert/messages/type=3">
            <i class="fa fa-shopping-cart"></i> درخواست خرید
        </li>
    </ul>
</tf-bottom-sheet>