<nav class="tf-navbar">
    <section class="icon">
        <i class="fa fa-cubes"></i>
    </section>
    <section class="title">
        <h4> {{item.name}}، مدل {{item.model}} </h4>
    </section>
    <section class="icon button" tf-go="/main">
        <i class="fa fa-home"></i>
    </section>
    <section class="icon button" tf-go="back">
        <i class="fa fa-arrow-left"></i>
    </section>
</nav>
<abzar-tabs active="-1"></abzar-tabs>
<div class="tf-container">
    <div class="product horizontal-padding vertical-padding row col-md-8 col-md-offset-2">
        <div ng-if="item.files.length==1" class="product-img-single" ng-style="{'background': 'url(' + item.files[0] + ')'}" ></div>
        <tf-image-slider  ng-if="item.files.length>1" ng-model="item.files" height="365" class="slider"></tf-image-slider>
        <div class="horizontal-padding vertical-padding ">
            <h4>{{item.name}}، مدل {{item.model}}</h4>
            <div ng-if="item.code"> <b> کد: </b>
                <p class="inline" ng-bind="item.code"></p>
            </div>
            <div ng-if="item.country_alias"> <b> کشور: </b>
                <p class="inline" ng-bind="item.country_alias"></p>
            </div>
            <div ng-if="item.year"> <b> سال ساخت: </b>
                <p class="inline" ng-bind="item.year"></p>
            </div>
            <div ng-if="item.group_alias"> <b> گروه: </b>
                <p class="inline" ng-bind="item.group_alias"></p>
            </div>
            <div ng-if="item.subgroup_alias"> <b> زیرگروه: </b>
                <p class="inline" ng-bind="item.subgroup_alias"></p>
            </div>
            <div ng-if="item.brand_alias"> <b> برند: </b>
                <p class="inline" ng-bind="item.brand_alias"></p>
            </div>
            <div ng-if="item.industry_alias"> <b> صنعت: </b>
                <p class="inline" ng-bind="item.industry_alias"></p>
            </div>
            <div ng-if="item.importer_alias && me !== false && me.type == 1"> <b> شرکت وارد‌کننده: </b>
                <p class="inline" ng-bind="item.importer_alias"></p>
            </div>
            <div> <b> وضعیت: </b>
                <p class="inline">{{item.used? 'کارکرده': 'نو'}}</p>
            </div>
            <div ng-if="me !== false && me.type == 1"> <b> تایید شده توسط مدیر؟: </b>
                <tf-switch ng-model="item.confirmed" on-value="1" off-value="0"></tf-switch>
            </div>
            <div> <b> قیمت: </b>
                <p class="inline" ng-if="item.price">{{item.price}} تومان</p>
                <p class="inline" ng-if="!item.price">نامشخص</p>
            </div>
            <hr>
            <div class="text-left">
                <button class="btn btn-success" tf-go="/insert/messages/product={{item.code}}&type=1"> <i class="fa fa-lg fa-shopping-cart"></i> درخواست خرید </button>
            </div>
        </div>
    </div>
</div>