<nav class="tf-navbar">
    <section class="icon">
        <i class="fa fa-industry"></i>
    </section>
    <section class="title">
        <h4> ابزار باستانی </h4>
        <p> صنایع </p>
    </section>
    <section class="icon button" tf-go="/main">
        <i class="fa fa-arrow-left"></i>
    </section>
</nav>
<div class="tf-container">
    <ul class="list-group block pointer" ng-if="items.length > 0">
        <li class="list-group-item" ng-repeat="item in items">
            <i class="fa fa-industry"></i> {{item.alias}}
        </li>
    </ul>
    <p class="vertical-padding horizontal-padding" ng-if="items.length == 0"> هنوز هیچ آیتمی ثبت نشده‌است. </p>
</div>