<nav class="tf-navbar">
    <section class="icon">
        <i class="fa fa-comment"></i>
    </section>
    <section class="title">
        <h4> آگهی جدید </h4>
    </section>
    <section class="icon button" tf-go="back">
        <i class="fa fa-arrow-left"></i>
    </section>
</nav>
<form class="tf-container vertical-padding" ng-submit="submit()">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col-sm-12">
                <label class="control-label">نام و مدل دستگاه</label>
                <input type="text" class="form-control" ng-model="inputs.product" placeholder="نام و مدل دستگاه" required/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-6">
                <label class="control-label">نام شما</label>
                <input type="text" class="form-control" ng-model="inputs.name" placeholder="نام" required/>
            </div>
            <div class="form-group col-xs-6">
                <label class="control-label">شماره تماس</label>
                <input type="tel" class="form-control" ng-model="inputs.phone" placeholder="شماره تماس" required/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <label class="control-label">متن توضیحات</label>
                <textarea class="form-control" ng-model="inputs.description" placeholder="متن توضیحات" required></textarea>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12">
                <label class="control-label"> </label>
                <button class="btn btn-primary btn-lg btn-block" type="submit">ثبت</button>
            </div>
        </div>
    </div>
</form>