<nav class="tf-navbar">
    <section class="icon">
        <i class="glyphicon glyphicon-exclamation-sign"></i>
    </section>
    <section class="title">
        <h4>فرم‌ها</h4>
    </section>
    <section class="icon button" tf-go="back">
        <i class="glyphicon glyphicon-chevron-left"></i>
    </section>
</nav>

<div class="tf-container horizontal-padding vertical-padding">
    <div class="panel panel-default">
        <div class="panel-heading">اینپوت‌ها Inputs</div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-sm-3 col-xs-6">
                    <label class="control-label">عدد</label>
                    <input type="number" class="form-control" />
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <label class="control-label">نوشته</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <label class="control-label">پسورد</label>
                    <input type="password" class="form-control" />
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <label class="control-label">ایمیل</label>
                    <input type="email" class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">دراپ‌داون Dropdown</div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-sm-4 col-xs-12">
                    <label class="control-label">انتخاب یکی</label>
                    <select class="form-control" tf-selectize options="options.one" ng-model="inputs.selectOne"></select>
                </div>
                <div class="form-group col-sm-4 col-xs-12">
                    <label class="control-label">چندتایی</label>
                    <select class="form-control" tf-selectize multiple options="options.one" ng-model="inputs.multiple"></select>
                </div>
                <div class="form-group col-sm-4 col-xs-12">
                    <label class="control-label">عمومی</label>
                    <tf-switch class="form-control">
                    </tf-switch>
                </div>
            </div>
        </div>
    </div>

    <div ng-bind="inputs.switch"></div>


</div>
