<nav class="tf-navbar">
    <section class="icon">
        <i class="fa fa-sign-in"></i>
    </section>
    <section class="title">
        <h4> ابزار باستانی </h4>
        <p> ورود به سیستم </p>
    </section>
</nav>

<form class="tf-container vertical-padding" ng-submit="login()">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col-xs-12">
                <label class="control-label">نام کاربری</label>
                <input type="text" class="form-control" ng-model="inputs.username" placeholder="نام کاربری خود را وارد کنید." required/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12">
                <label class="control-label">رمز عبور</label>
                <input type="password" class="form-control" ng-model="inputs.password" placeholder="رمز عبور خود را وارد کنید." required/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-6">
                <label class="control-label"> </label>
                <button class="btn btn-primary btn-lg btn-block" type="submit">ورود</button>
            </div>
            <div class="form-group col-xs-6">
                <label class="control-label"> </label>
                <button class="btn btn-default btn-lg btn-block" tf-go="/main">ورود به عنوان میهمان</button>
            </div>
        </div>
    </div>
</form>