<nav class="tf-navbar">
    <section class="icon">
        <i class="fa fa-google"></i>
    </section>
    <section class="title">
        <h4> ابزار باستانی </h4>
    </section>
    <section class="icon button" ng-click="sidebar =! sidebar">
        <i class="fa fa-navicon"></i>
    </section>
</nav>
<abzar-tabs active="0"></abzar-tabs>
<div class="tf-container">
    <tf-image-slider ng-model="images" class="vertical-padding"></tf-image-slider>
    <div class="vertical-padding horizontal-padding">
        <h4>آخرین محصولات:</h4>
        <ul class="last">
            <li ng-repeat="item in last" tf-go="/get/products/{{item.id}}">
                <div class="img" ng-style="{'background-image': 'url(' + item.file + ')'}"></div>
                <h5 ng-bind="item.name"></h5>
            </li>
        </ul>
    </div>
</div>

<tf-sidebar open="sidebar" direction="left">
    <div class="profile">
        <i class="fa fa-user"></i><br>
        <h5 ng-if="me !== false"> {{ me.alias }} </h5>
        <h5 ng-if="me === false"> خوش آمدید! </h5>
    </div>
    <ul class="list-group main-sidebar pointer">
        <li class="list-group-item" tf-go="/login" ng-if="me === false">
            <i class="fa fa-sign-in"></i> ورود به سیستم
        </li>
        <li class="list-group-item" ng-if="me !== false" tf-go="/get-all/messages">
            <i class="fa fa-comments"></i> پیام‌ها
        </li>

        <li class="list-group-item" tf-go="/get-all/userproducts">
            <i class="fa fa-cubes"></i> آگهی‌ها
        </li>

        <li class="list-group-item" tf-go="/get-all/companies">
            <i class="fa fa-building"></i> شرکت‌ها
        </li>
        <li class="list-group-item" tf-go="/get-all/brands">
            <i class="fa fa-tags"></i> برندها
        </li>


        <li class="list-group-item" ng-if="me !== false" tf-go="/login">
            <i class="fa fa-sign-out"></i> خروج
        </li>
    </ul>
</tf-sidebar>