<nav class="tf-navbar">
    <section class="icon">
        <i class="fa fa-comments"></i>
    </section>
    <section class="title">
        <h4> پیام‌ها </h4>
    </section>
    <section class="icon button" tf-go="back">
        <i class="fa fa-arrow-left"></i>
    </section>
</nav>
<div class="tf-container">
    <ul class="list-group block pointer" ng-if="items.length > 0">
        <li class="list-group-item" ng-repeat="item in items" tf-go="/get/messages/{{item.id}}">
            <i class="fa fa-comment"></i> {{item.name}}, درخواست خرید {{item.product}}
        </li>
    </ul>
    <p class="vertical-padding horizontal-padding" ng-if="items.length == 0"> هنوز هیچ آیتمی ثبت نشده‌است. </p>
</div>