<nav class="tf-navbar">
    <section class="icon">
        <i class="fa fa-plus-square"></i>
    </section>
    <section class="title">
        <h4> محصول جدید </h4>
    </section>
    <section class="icon button" tf-go="back">
        <i class="fa fa-arrow-left"></i>
    </section>
</nav>
<form class="tf-container vertical-padding" ng-submit="submit()">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col-sm-6">
                <label class="control-label">نام دستگاه</label>
                <input type="text" class="form-control" ng-model="inputs.name" placeholder="نام دستگاه" required/>
            </div>
            <div class="form-group col-sm-6">
                <label class="control-label">کد</label>
                <input type="text" class="form-control" ng-model="inputs.code" placeholder="کد" required/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label class="control-label">مدل</label>
                <input type="text" class="form-control" ng-model="inputs.model" placeholder="مدل" required/>
            </div>
            <div class="form-group col-sm-6">
                <label class="control-label">سال ساخت</label>
                <input type="tel" class="form-control" ng-model="inputs.year" placeholder="سال ساخت" required/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label class="control-label">کشور سازنده</label>
                <select tf-selectize class="form-control" options="options.countries" ng-model="inputs.country" required><select>
            </div>
            <div class="form-group col-sm-6">
                <label class="control-label">برند دستگاه</label>
                <select tf-selectize class="form-control" options="options.brands" ng-model="inputs.brand" required><select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label class="control-label">صنعت</label>
                <select tf-selectize class="form-control" options="options.industries" ng-model="inputs.industry" required><select>
            </div>
            <div class="form-group col-sm-6">
                <label class="control-label">شرکت توزیع‌کننده</label>
                <select tf-selectize class="form-control" options="options.importers" ng-model="inputs.importer" required><select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label class="control-label">گروه</label>
                <select tf-selectize class="form-control" options="options.groups" ng-model="inputs.group" required><select>
            </div>
            <div class="form-group col-sm-6">
                <label class="control-label">زیرگروه</label>
                <select tf-selectize class="form-control" options="options.subgroups" ng-model="inputs.subgroup" required><select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3">
                <label class="control-label"> تصویر </label>
                <div class="btn btn-default btn-block" tf-image-picker ng-model="inputs.file">
                    <i class="fa fa-image"></i>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label class="control-label">کارکرده</label>
                <tf-switch class="form-control" ng-model="inputs.used" required></tf-switch>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12">
                <label class="control-label"> </label>
                <button class="btn btn-primary btn-lg btn-block" type="submit">ثبت</button>
            </div>
        </div>
    </div>
</form>