<nav class="tf-navbar">
    <section class="icon">
        <i class="fa fa-cubes"></i>
    </section>
    <section class="title">
        <h4> آگهی‌های کاربران </h4>
    </section>
    <section class="icon button" tf-go="/main">
        <i class="fa fa-home"></i>
    </section>
    <section class="icon button" tf-go="back">
        <i class="fa fa-arrow-left"></i>
    </section>
</nav>
<abzar-tabs active="-1"></abzar-tabs>
<div class="tf-container vertical-padding horizontal-padding" tf-scroll tf-scroll-down="bars=false" tf-scroll-up="bars=true">
    <div class="row">
        <div class="col-sm-6 col-md-4 product" ng-repeat="item in items">
            <div class="panel panel-default">
                <div class="panel-heading pointer" tf-go="/userproducts/{{item.id}}">{{item.name}}، دستگاه {{item.product}}</div>
                <div class="panel-body">
                    <p>
                        <label class="label label-danger">دستگاه {{item.product}}</label>
                        <label class="label label-info">شماره تماس {{item.phone}}</label>
                        <div ng-bind="item.description"></div>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <p class="vertical-padding horizontal-padding" ng-if="items.length==0"> هنوز هیچ آیتمی ثبت نشده‌است. </p>
    <tf-floating-btn tf-go="/insert/userproducts" ng-show="bars">
        <i class="fa fa-plus"></i>
    </tf-floating-btn>
</div>